body {
    /*background-color:  black;*/
    font-family:       "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
    /*color:             white;*/
    font-weight:       bold;
    margin:            20px 20px auto;
}

main {
    margin: auto;
}

inputArea{
    padding: 10px;
}

displayArea{
    margin: auto;
    padding:10px;
    width: 90%;
    word-wrap:break-word;
}

buttonContainer{
    width:90%;
    margin:auto;
}



span{
    display: flex;
}

table, th, td {
    border: 1px solid black;
}